* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: Gabarito;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.menu__link {
  text-decoration: none;
  color: #666;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Gabarito;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
}
.menu__link_1 {
  color: #333;
  font-family: Gabarito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
}
.menu__link_2 {
  color: #666;
  font-family: Gabarito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
}
.menu__link_3 {
  color: #666;
  font-family: Gabarito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu__link_4 {
  color: #666;
  font-family: Gabarito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu__link_under {
  text-decoration: underline;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  [class*=__container] {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  [class*=__container] {
    max-width: 769px;
  }
  .products__list {
    margin-left: -20px;
  }
}
@media (max-width: 769px) {
  [class*=__container] {
    max-width: 480px;
  }
  .submenu__1 {
    margin-left: 10px;
  }
  .submenu__1 > li {
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  [class*=__container] {
    max-width: 320px;
  }
  .submenu__1 > li {
    margin-top: 152px;
  }
  .page__block .page__wrapper {
    margin: 10px 0px;
  }
}
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #F5F5F6;
  margin-bottom: 46px;
}
.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10.4166666667%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}
.header .header__container .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .header__container .menu__list li {
  padding: 10px 0px;
}
.header .header__container .menu__list .menu__link {
  padding: 0px 10px;
  text-decoration: none;
  color: #666;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Gabarito;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
}
.header .header__container .menu__list img {
  margin-top: -2px;
}

.language {
  position: relative;
  z-index: 15;
  margin: 0px 0px 0px 10px;
}
.language img {
  margin: -1px -7px;
}

.languages {
  position: absolute;
  z-index: 15;
  margin: 10px 0px 0px 0px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(51, 51, 51, 0.2);
          box-shadow: 0px 10px 40px 0px rgba(51, 51, 51, 0.2);
  width: 67px;
  height: 225px;
  -webkit-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none;
}
.languages .languages li a {
  padding: 0px 10px;
}
.languages a {
  padding: 0px 6px;
  text-decoration: none;
  color: #666;
  text-align: center;
  font-family: Gabarito;
  font-size: 12px;
  font-weight: 700;
}

body._pc .menu__arrow {
  display: none;
}

body._pc .menu__list > li:hover .languages {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .languages {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.subheader {
  position: relative;
  margin-top: -45px;
  left: 0;
  width: 100%;
  z-index: 8;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(30, 31, 36, 0.1);
          box-shadow: 0px 10px 40px 0px rgba(30, 31, 36, 0.1);
}
.subheader .subheader__container {
  padding: 0px 10.4166666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 8;
  min-height: 80px;
  background: #FFF;
}
.subheader .subheader__container .submenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subheader .subheader__container .submenu__list li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 47px 0px 0px;
}
.subheader .subheader__container .submenu__list li:last-child {
  padding: 0px;
}
.subheader .subheader__container .submenu__list li button {
  width: 40px;
  height: 16px;
  border-radius: 3px;
  background: rgba(30, 31, 36, 0.3);
  color: #FFF;
  text-align: center;
  font-family: Gabarito;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subheader .subheader__container .submenu__list li a {
  color: #333;
  text-align: center;
  font-family: Gabarito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subheader .subheader__container .submenu__list li a span {
  color: #333;
  font-family: Gabarito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page {
  position: relative;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: #F5F5F6;
  padding-top: 30px;
}
.page .page__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 10.4166666667%;
  min-width: 0;
}
.page .page__container .available .menu__link_1 {
  color: #000;
  font-size: 40px;
}
.page .page__container .products {
  padding-top: 50px;
  margin-bottom: 109px;
}
.page .page__container .products .three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page .page__container .products .three li img {
  max-width: 100%;
}
.page .page__container .products .three .products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page .page__container .products .three .products__list > li {
  padding-bottom: 23px;
  padding-left: 20px;
}
.page .page__container .products .three .products__list .buy {
  position: relative;
  width: 194px;
  height: 65px;
  border-radius: 5px;
  background-color: #F00;
  margin-top: -10px;
}
.page .page__container .products .three .products__list .buy a {
  color: #fff;
  text-align: center;
  font-family: Gabarito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
}
.page .page__container .products .three .products__list .buy img {
  margin-top: -5px;
}
.page .page__container .products .three .products__list .zero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
}
.page .page__container .products .three .products__list .zero .one {
  padding-right: 10px;
}
.page .page__container .products .three .products__list .zero .one li {
  padding: 12px 0px;
}
.page .page__container .products .three .products__list .zero .one li:last-child {
  padding-top: 30px;
}
.page .page__container .products .three .products__list .zero .two li {
  padding: 12px 0px;
}
.page .page__container .page__link {
  text-decoration: none;
  color: #6F7073;
  font-family: Gabarito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}
.page .page__container .page__link_underline {
  color: #6F7073;
  font-family: Gabarito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  text-decoration-line: underline;
}
.page .page__container .page__link_1-1 {
  color: #000;
  font-family: Gabarito;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.page .page__container .page__link_1-2 {
  color: #000;
  font-family: Gabarito;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.page .page__container .page__link_2-1 {
  color: #1E1F24;
  font-family: Gabarito;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
}
.page .page__container .page__link_2-2 {
  color: #1E1F24;
  font-family: Gabarito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
}
.page .page__container .page__block {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page .page__container .page__block .page__wrapper {
  margin: 10px 20px 10px 0px;
  max-width: 262px;
  max-height: 355px;
  border-radius: 6px;
  border: 1px solid #E7E8EA;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page .page__container .page__block .page__wrapper:last-child {
  margin: 10px 0px 10px 0px;
}
.page .page__container .page__block .page__wrapper li {
  padding-left: 31px;
  padding-bottom: 10px;
}
.page .page__container .page__block .page__wrapper li:first-child {
  padding: 0px 31px 2px 23px;
}
.page .page__container .page__block .page__wrapper li:last-child {
  padding: 0px 31px 20px 31px;
}
.page .page__container .page__block .page__wrapper li img {
  padding: 20px 0px 18px 0px;
}
.page .page__container .page__block .page__wrapper li img:first-child {
  width: 80px;
}
.page .page__container .page__block .page__wrapper li img:last-child {
  position: absolute;
  z-index: 10;
  margin-top: 5px;
  margin-left: -60px;
}
.page .page__container .page__block .page__wrapper button {
  margin-bottom: 10px;
  width: 73px;
  height: 24px;
  border-radius: 3px;
  background: #FED766;
  color: #1E1F24;
  text-align: center;
  font-family: Gabarito;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
}
.page .page__container .section__quanda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 14px;
}
.page .page__container .section__quanda .section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page .page__container .section__quanda .section__wrapper .qa__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 10px 20px 4px 0px;
  padding: 18px 12px 10px 12px;
  border-radius: 15px;
  background: #fff;
  position: relative;
  max-width: 412px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
.page .page__container .section__quanda .section__wrapper .qa__wrapper p {
  color: #000;
  font-family: Gabarito;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin: 0;
  padding-bottom: 12px;
}
.page .page__container .section__quanda .section__wrapper .qa__wrapper span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-family: Gabarito;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 8px;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  background: #FFF;
  min-height: 118px;
  background-color: #fff;
}
.footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10.4166666667%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 16;
  margin-top: 36px;
}
.footer .footer__container .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subfooter {
  position: relative;
  left: 0;
  width: 100%;
  z-index: 8;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(30, 31, 36, 0.1);
          box-shadow: 0px 10px 40px 0px rgba(30, 31, 36, 0.1);
  background-color: #F5F5F6;
}
.subfooter .subfooter__container {
  padding: 0px 10.4166666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 8;
  min-height: 300px;
}
.subfooter .subfooter__container .service {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.subfooter .subfooter__container .service .info {
  position: absolute;
  top: 140px;
}
.subfooter .subfooter__container .service ul:first-child {
  padding-right: 25px;
}
.subfooter .subfooter__container .submenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.subfooter .subfooter__container .submenu__list .submenu__1 {
  margin-top: -25px;
  width: 100%;
}
.subfooter .subfooter__container .submenu__list .submenu__1 .medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
